* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: flex-end;
    background-color: skyblue
}

.parent {
    box-sizing: content-box;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    border-radius: 8px;
    overflow: hidden;
    border: 4px solid gray;
}

.parent .child {
    background-color: pink;
    flex-shrink: 0;
    border: 1px solid red;
}